#ignore all data files in DATA/ and PAPERS/
**DATA/
**PAPERS/

#ignore all maps and plots
*.png
*.pdf
*.eps
gmt.conf
gmt.history

#ignore any test or temp files
temp*
test*
*.tmp

#ignore other data files
*.nc
*.tif
*.npy
*.cpt
*.asc
